{{ define "main" }}
<body>
  <section class="min-vh-100 mt-auto">
<div class="card">
  <div class="card-body">
    <h4 class="card-title" style="color: #1a79c0;  margin-top: 1rem; text-align: center;"><a href="/donate/">Your Donations Help Support Khronos -- Donate Today!</a></h4>
	<img src="https://www.nwtime.org/images/support.jpg" class="figure-img img-fluid">
  </div>
</div>
</div>
  	<h4 style="text-align: center">{{ .Title }}</h4></br> 
	<div class="container">
    <p>{{.Content}}</p>
	</div>
	<hr class="mt-5">
<br>
<div style="text-align: center">
<button class="btn btn-primary btn-lg">
  <a class="btn btn-primary btn-lg" href="https://github.com/nwtime/khronos">Khronos Source Code <img src="/images/icons/download.svg"></img></a>
    </button>	
<button class="btn btn-primary btn-lg">
  <a class="btn btn-primary btn-lg" href="https://github.com/nwtime/khronos/issues">Report a Bug <img src="/images/icons/bug.svg"></img></a>
</button>
</div>
<br>
  </section>
</body>
{{ end }}